code/C/__pycache__/Coloring_networkx_addons.cpython-38.pyc
code/Graph-Coloring-master/__pycache__/Coloring_networkx_addons.cpython-38.pyc
tex/Intern_report/intern_report.docx
code/data student section/pu-sect-fal07-s.xml
code/data student section/pu-sect-fal07-s.zip
code/data student section/pu-sect-fal07.xml
code/data student section/pu-sect-fal07.zip
code/data student section/pu-sectll-fal07-s.xml
code/data student section/pu-sectll-fal07-s.zip
code/data student section/pu-sectll-fal07.xml
code/data student section/pu-sectll-fal07.zip
code/data timetable/pu-fal07-ms-cs.xml
code/data timetable/pu-fal07-ms-s.xml
code/data timetable/pu-fal07-ms.xml
